MYSQL_USERNAME="admin"
MYSQL_PASSWORD="your_password"
MYSQL_ADDRESS="127.0.0.1:3306"
MYSQL_DATABASE="wxcomponent"
WX_APPID="wx################"
CBR_ENV_ID=""
HOSTNAME=""
COMPONENT_TOKEN=""
COMPONENT_AES_KEY=""
